{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            <iframe src="{{ path('app.iframeVoozanoo') }}"></iframe>
        </div>
    </div>
{% endblock %}
