{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            <iframe src="https://vooportal.voozanoo.net/accounts/SAWC56R1ACEX/enquetes/1175232706/scripts/aindex.php"></iframe>
            <!-- path('app.iframeVoozanoo') }}-->
        </div>
    </div>
{% endblock %}
