{% extends 'base.html.twig' %}

{% block body %}
    <div class="iframe_wrapper">
        <div class="container">
            <!--iframe src="https://www.ec-nantes.fr/"></iframe-->
            <iframe src="{{ asset('html/FormulairePublic.html') }}"></iframe>
        </div>
    </div>
{% endblock %}
