{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            <h1>{{ 'page.home.title'|trans }}</h1>
            <div>{{ 'page.home.description1'|trans|raw }}</div>
            <div>{{ 'page.home.description2'|trans|raw }}</div>
        </div>
    </div>
{% endblock %}
