{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('app.resume.projects') }}" method="post">
        <input class="btn btn-success" type="submit" value="{{ 'page.resumeProjects.button'|trans }}" />
    </form>
    <div>{{ 'page.resumeProjects.helpText'|trans }}</div>
{% endblock %}
