body{
  background-color: white;
}

h1{
  background-color: blue;
  text-align:center;
  color:black;
}

h2{
  background-color: #3A8EBA;
  text-align:center;
}

p{
  margin-left: 15px;
}

input, select, textarea{
  margin-left: 15px;
}

.button{
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}
